<header class="py-3 bg-light border-bottom mb-3" style="background-image: url(https://ecobnb.com/blog/app/uploads/sites/3/2016/06/w1_fireflies.jpg); background-position:0 0; background-repeat: no-repeat; background-size: cover;">

    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder style= text-white"> Bienvenid@ {% if user is not None %} {{user}} {% endif %} a Luciérnagas en frascos</h1>
            <p class="lead mb-0 style= text-white">Un espacio creado para compartir tus propias redacciones.</p>
        </div>
    </div>
</header>