{% extends 'appBlog/base.html' %}
        {% load static %}


    <body>

        {% block title %}¡LEF!{% endblock title %}
        {% block main_content %}

        <header class="py-3 bg-light border-bottom mb-3" style="background-image: url(https://ecobnb.com/blog/app/uploads/sites/3/2016/06/w1_fireflies.jpg); background-position:0 0; background-repeat: no-repeat; background-size: cover;">

            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder style= text-white">¡Luciérnagas en frascos!</h1>
                </div>
            </div>
        </header>

        <!-- Page content-->
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Post content-->
                        <article>
                            <!-- Post content-->
                            <section class="mb-5">

                                <h2 class="fs-9 mb-4"><strong>¿Quiénes somos?</strong></h2>

                                <p class="fs-5 fst-italic mb-4">Somos una comunidad de escritores y artistas que propone brindar un espacio seguro para la difusión de las producciones de todos nuestros colegas del medio. Proponemos escenarios de conexión entre artistas para el enriquecimiento mutuo.</p>
                                
                                <h4 class="text-muted fst-italic mb-1 text-center">Perseguir en la noche una <strong>luciérnaga</strong></h4>
                                <h4 class="text-muted fst-italic mb-1 text-center">para indagar la causa de su fosforescencia,</h4>
                                <h4 class="text-muted fst-italic mb-1 text-center">cuando puedes llenarte las pupilas</h4>
                                <h4 class="text-muted fst-italic mb-1 text-center">con el suave fulgor de las estrellas</h4>
                                <h4 class="text-muted fst-italic mb-1 text-center">y vivir horas de quietud y gozo...</h4>
                                <h4 class="text-muted fst-italic mb-3 text-center">Hasta cuando amanezca!</h4>


                                <h2 class="fs-9 mb-4"><strong>Propuesta LEF</strong></h2>

                                <p class="fs-5 fst-italic mb-4">Este proyecto tuvo inicio con el desarrollo de una plataforma web estilo blog. Así, cada autor podría presentar sus obras, e incluso desarrollar un perfil en el cuál dejar su información personal al público, si así lo desease. Proporcinando una nueva posibilidad de difusión.</p>

                                <div class="container">
                                    <div class="container-fluid">
                                        <div class="col-lg-4 text-justify">
                                            <img class="img-fluid rounded-circle mb-3" src="https://avatars.githubusercontent.com/u/101213440?v=4">

                                            <p class="fs-5 fst-italic mb-4">Luciérnagas en frascos es una propuesta realizada por María Emilia Diaz, joven platense de 20 años, oriunda de Argentina.</p>

                                        </div>  
                                    </div>
                                </div> 

                                <p class="text-muted fst-italic mb-3 text-center">Grupo LEF</p>
                            </section>
                    
                            <p></p>

                        </article>
                    </div>
                </div>
            </div>



        {% endblock main_content %}


    </body>
</html>
