<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{%block title %}Luciérnagas en frascos{%endblock title%}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'appBlog/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'appBlog/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body style="background-color:rgba(150, 155, 160, 0.411);">
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'New Post' %}">Nuevo Post!</a>
                <form action="/search/" method="get">
                    <input type="text" name='titulo' style="border: rounded;" placeholder="Buscar en LEF">
                </form>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'pages' %}">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'About' %}">Sobre LEF</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Inbox' %}">Chat</a></li>

                        {%if request.user.is_superuser%}
                        <li class="nav-item"><a class="nav-link" href="/admin/">Admin</a></li>
                        {%endif%}

                        {%if request.user.is_authenticated%}
                        <a id="avatar-btn" class="nav-link" href="{% url 'Profile' %}">Mi perfil
                            {% if request.user.is_superuser %}
                            <img id="img" class="img rounded-circle" alt="Perfil" height="32" width="32" src="{{img}}"></img>
                            {%endif%}
                        </a>
                        {%endif%}

                        {%if not request.user.is_authenticated%}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Login' %}">Iniciar sesión</a></li>
                        
                        {%else%}
                        
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Logout' %}">
                            <img id="img" class="img" style="border-radius: 8px;" alt="Logout" height="23" width="23" src="{% static 'appBlog/assets/logout.ico' %}"></img>
                        </a></li>    

                        {% endif %}
                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->

        {% block main_content %}
        
        {% endblock main_content %}
                    <!-- Pagination-->
    <footer class="py-4 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Luciérnagas en frascos 2022</p></div>
    </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'appBlog/js/scripts.js' %}"></script>
    </body>
</html>
