{% extends 'appBlog/base.html' %}

{% block title %} Login {% endblock title %}

{% block main_content %}

<div class="container mt-5">

    <form  method="post" class="form-group" style="text-align: center">

        {% csrf_token %}

        <table class="table">

        {{loginform.as_p}}

        </table>

        {% if errors %}
            {% for error in errors %}
            <p style="color: red; text-align: center;" t>{{error}}</p>
            {% endfor %}
        {% endif %}
        <p></p>
        <input type="submit" value="Ingresar" class="btn btn-primary">

        <p style="color: black">No posees una cuenta, regístrate!</p>

        <a class="btn btn-primary" href="{% url 'Register' %}">Crear cuenta</a>

    </form>
</div>

{% endblock main_content %}
